body {
  background-color: white;
}

.headl {
  width: 500px;
  margin: auto;
  margin: 150px auto 0 auto;
}

.leaderboard {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 500px;
  margin: auto;
}

.scoresContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

table {
  border: 2px solid black;
  width: 100%;
  border-collapse: collapse;
}

table tr {
  width: 100%;
}

table tr:nth-child(odd) {
  background-color: #ddd;
}

table tr td {
  width: 1%;
  margin: 0;
  padding: 3px 10px;
}

input {
  border: 2px solid black;
}

.refreshBtn {
  height: 20px;
  border: solid 2px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formBtn {
  width: 30%;
  margin-left: auto;
  border: solid 2px;
}
